.contact-form7-wrapper {
  display: contents;
}
.contact-form7-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form7-max-width {
  align-items: flex-start;
}
.contact-form7-section-title {
  gap: var(--dl-space-space-unit);
  width: 40%;
  align-items: flex-start;
}
.contact-form7-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form7-form {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 60%;
}
.contact-form7-container1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-form7-input1 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form7-input2 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form7-container2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-form7-input3 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form7-input4 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form7-container3 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.contact-form7-input5 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form7-input6 {
  gap: var(--dl-space-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form7-checkbox1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
}
.contact-form7-button {
  align-self: flex-start;
}
.get-started-form-fragment12 {
  display: contents;
}
.get-started-form-text12 {
  display: inline-block;
}
.get-started-form-fragment10 {
  display: contents;
}
.get-started-form-text10 {
  display: inline-block;
}
.get-started-form-fragment11 {
  display: contents;
}
.get-started-form-text11 {
  display: inline-block;
}
@media(max-width: 991px) {
  .contact-form7-max-width {
    align-items: flex-start;
    flex-direction: column;
  }
  .contact-form7-section-title {
    width: 100%;
  }
  .contact-form7-form {
    width: 100%;
  }
  .contact-form7-container1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form7-input1 {
    width: 50%;
  }
  .contact-form7-input2 {
    width: 50%;
    flex-direction: column;
  }
  .contact-form7-container2 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form7-input3 {
    width: 50%;
  }
  .contact-form7-input4 {
    width: 50%;
    flex-direction: column;
  }
  .contact-form7-container3 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form7-input5 {
    width: 50%;
  }
  .contact-form7-input6 {
    width: 50%;
  }
  .contact-form7-checkbox1 {
    align-self: flex-start;
  }
}
@media(max-width: 479px) {
  .contact-form7-form {
    padding: var(--dl-space-space-unit);
  }
  .contact-form7-container1 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form7-input1 {
    width: 100%;
  }
  .contact-form7-input2 {
    width: 100%;
  }
  .contact-form7-container2 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form7-input3 {
    width: 100%;
  }
  .contact-form7-input4 {
    width: 100%;
  }
  .contact-form7-container3 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form7-input5 {
    width: 100%;
  }
  .contact-form7-input6 {
    width: 100%;
  }
  .get-started-form-text11 {
    text-align: center;
  }
}

.testimonial13-wrapper {
  display: contents;
}
.testimonial13-max-width {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.testimonial13-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonial13-container {
  gap: var(--dl-space-space-twounits);
  width: auto;
}
.testimonial13-content1 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial13-stars1 {
  fill: var(--dl-color-theme-primary1);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.testimonial13-avatar1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial13-avatar-image1 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.testimonial13-avatar-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.testimonial13-content2 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial13-stars2 {
  fill: var(--dl-color-theme-primary1);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.testimonial13-avatar2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial13-avatar-image2 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.testimonial13-avatar-content2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.get-started-form-fragment16 {
  display: contents;
}
.get-started-form-text16 {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.get-started-form-fragment20 {
  display: contents;
}
.get-started-form-text20 {
  display: inline-block;
}
.get-started-form-fragment18 {
  display: contents;
}
.get-started-form-text18 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.get-started-form-fragment19 {
  display: contents;
}
.get-started-form-text19 {
  display: inline-block;
}
.get-started-form-fragment17 {
  display: contents;
}
.get-started-form-text17 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.get-started-form-fragment14 {
  display: contents;
}
.get-started-form-text14 {
  display: inline-block;
  text-align: center;
}
.get-started-form-fragment15 {
  display: contents;
}
.get-started-form-text15 {
  display: inline-block;
  text-align: center;
}
.get-started-form-fragment13 {
  display: contents;
}
.get-started-form-text13 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 991px) {
  .testimonial13-container {
    align-items: center;
  }
}
@media(max-width: 767px) {
  .testimonial13-max-width {
    padding: var(--dl-space-space-threeunits);
  }
  .testimonial13-section-title {
    width: 100%;
    max-width: 800px;
  }
  .testimonial13-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .testimonial13-max-width {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .testimonial13-avatar1 {
    flex-direction: column;
  }
  .testimonial13-avatar-content1 {
    align-items: center;
    justify-content: center;
  }
  .testimonial13-avatar2 {
    flex-direction: column;
  }
  .testimonial13-avatar-content2 {
    align-items: center;
    justify-content: center;
  }
}

.footer4-wrapper {
  display: contents;
}
.footer4-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-content {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-logo1 {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.footer4-logo2 {
  height: 2rem;
}
.footer4-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer4-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer4-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer4-container {
  display: flex;
  align-items: flex-start;
}
.footer4-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.get-started-form-fragment25 {
  display: contents;
}
.get-started-form-text25 {
  display: inline-block;
}
.get-started-form-fragment21 {
  display: contents;
}
.get-started-form-text21 {
  display: inline-block;
}
.get-started-form-fragment23 {
  display: contents;
}
.get-started-form-text23 {
  display: inline-block;
}
.get-started-form-fragment24 {
  display: contents;
}
.get-started-form-text24 {
  display: inline-block;
}
.get-started-form-fragment26 {
  display: contents;
}
.get-started-form-text26 {
  display: inline-block;
}
.get-started-form-fragment27 {
  display: contents;
}
.get-started-form-text27 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
.get-started-form-fragment22 {
  display: contents;
}
.get-started-form-text22 {
  display: inline-block;
}
@media(max-width: 767px) {
  .footer4-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer4-links {
    flex-direction: column;
  }
  .footer4-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.get-started-form-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.get-started-form-container2 {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.get-started-form-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.get-started-form-image1 {
  height: 3rem;
}
.get-started-form-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.get-started-form-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.get-started-form-link11 {
  text-decoration: none;
}
.get-started-form-link21 {
  text-decoration: none;
}
.get-started-form-link31 {
  text-decoration: none;
}
.get-started-form-link41 {
  text-decoration: none;
}
.get-started-form-link51 {
  text-decoration: none;
}
.get-started-form-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.get-started-form-burger-menu {
  display: none;
}
.get-started-form-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.get-started-form-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.get-started-form-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.get-started-form-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.get-started-form-logo {
  height: 3rem;
}
.get-started-form-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-started-form-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.get-started-form-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.get-started-form-icon-group2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.get-started-form-fragment10 {
  display: contents;
}
.get-started-form-text10 {
  display: inline-block;
}
.get-started-form-fragment11 {
  display: contents;
}
.get-started-form-text11 {
  display: inline-block;
}
.get-started-form-fragment12 {
  display: contents;
}
.get-started-form-text12 {
  display: inline-block;
}
.get-started-form-fragment13 {
  display: contents;
}
.get-started-form-text13 {
  display: inline-block;
  text-align: center;
}
.get-started-form-fragment14 {
  display: contents;
}
.get-started-form-text14 {
  display: inline-block;
  text-align: center;
}
.get-started-form-fragment15 {
  display: contents;
}
.get-started-form-text15 {
  display: inline-block;
  text-align: center;
}
.get-started-form-fragment16 {
  display: contents;
}
.get-started-form-text16 {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.get-started-form-fragment17 {
  display: contents;
}
.get-started-form-text17 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.get-started-form-fragment18 {
  display: contents;
}
.get-started-form-text18 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.get-started-form-fragment19 {
  display: contents;
}
.get-started-form-text19 {
  display: inline-block;
}
.get-started-form-fragment20 {
  display: contents;
}
.get-started-form-text20 {
  display: inline-block;
}
.get-started-form-fragment21 {
  display: contents;
}
.get-started-form-text21 {
  display: inline-block;
}
.get-started-form-fragment22 {
  display: contents;
}
.get-started-form-text22 {
  display: inline-block;
}
.get-started-form-fragment23 {
  display: contents;
}
.get-started-form-text23 {
  display: inline-block;
}
.get-started-form-fragment24 {
  display: contents;
}
.get-started-form-text24 {
  display: inline-block;
}
.get-started-form-fragment25 {
  display: contents;
}
.get-started-form-text25 {
  display: inline-block;
}
.get-started-form-fragment26 {
  display: contents;
}
.get-started-form-text26 {
  display: inline-block;
}
.get-started-form-fragment27 {
  display: contents;
}
.get-started-form-text27 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
@media(max-width: 767px) {
  .get-started-form-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .get-started-form-desktop-menu {
    display: none;
  }
  .get-started-form-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .get-started-form-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .get-started-form-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
  .get-started-form-text11 {
    text-align: center;
  }
}
